@if (this.profileService.profile()) {
  <section class="card">
    <h2>{{ profileService.profile()?.name }}</h2>
    <p><strong>Email:</strong> {{ this.profileService.profile()?.email }}</p>
    <p><strong>Position:</strong> {{ this.profileService.profile()?.position || '-' }}</p>
    <p><strong>Department:</strong> {{ this.profileService.profile()?.department || '-' }}</p>
    @if (canSeeSalary()) {
    <p><strong>Salary:</strong> {{ this.profileService.profile()?.salary ?? '-' }}</p>
    }
    <app-feedback [profileUserName]="profileService.profile()?.userName"
                  [feedbacks]="this.profileService.profile()?.feedbacks || []"></app-feedback>
  </section>
} @else {
  <p>Loading profile...</p>
}
