@if (this.profileService.profile()) {
  <section class="card">
    <h2>{{ this.profileService.profile()?.name }}</h2>
    <p><strong>Email:</strong> {{ this.profileService.profile()?.email }}</p>
    <p><strong>Position:</strong> {{ this.profileService.profile()?.position || '-' }}</p>
    <p><strong>Department:</strong> {{ this.profileService.profile()?.department || '-' }}</p>
    <p><strong>Salary:</strong> {{ this.profileService.profile()?.salary ?? '-' }}</p>

    <h3>Feedback</h3>
    <ul>
      @for (f of (this.profileService.profile()?.feedback || []); track f) {
        <li>
<!--          <strong>{{ f.author }}:</strong> {{ f.text }} <small>({{ f.date }})</small>-->
        </li>
      }
    </ul>
  </section>
} @else {
  <p>Loading profile...</p>
}
